input[type="text"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  padding: 0 5px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  background: transparent;

  &:focus {
    border-color: #2196f3;
  }
  &[disabled] {
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
